
input[type=text]{
  border: none;
  bottom-border: 2px solid white;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 2px 3px;
  background-repeat: no-repeat;
  opacity: 0.65;
  padding: 5px;
  padding-left: 40px;


}
input[type=password]{
  border: none;
  bottom-border: 2px solid white;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  opacity: 0.65;
  padding: 5px;
  padding-left: 40px;


}
input[type=text]:focus{
  border: 3px solid black;
}
input[type=password]:focus{
  border: 3px solid black;
}

.button {

  display: inline-block;
  border-radius: 4px;;
  background-color: black;
  font-family: Arial;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 12px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 15px;
}


.button:hover {
  padding-right: 17px;
  background-color: #eeeeee;

}

.button:hover {
  opacity: 1;
  right: 0;
}
