
#title{
  color: black;
}
img{
padding: 10px;
}
/* Zebra striping */
.userbox{

}
tr {
  background: whitesmoke;
}
.header {
  background: black;
  color: white;
  font-weight: bold;
}
.dom, .header {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
.dom{
  color: black;
  width: 100%;
  font-weight: bold;
}
.contain{
  display: flex;
}
.dom:hover{
  background: #444444;
  color: white;
  font-weight: bold;
}
