
<p-tabMenu [model]="items" [activeItem]="items[0]">

</p-tabMenu>
<script src="profile.component.ts"></script>
<div class="ui-g" >
  <div class="ui-g-12 ui-md-3 ui-g-offset-3">
    <p-card title="{{nameF}} {{nameL}}" subtitle="Department: {{dept}}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
      <p-header >
        <tr class="row" >
          <th class="header">ID</th>
          <td class="dom">{{id}}</td>
        </tr>
        <tr class="row">
          <th class="header">Surpervisor</th>
          <td class="dom">{{mgr}}</td>
        </tr>
        <tr class="row">
          <th class="header">Username</th>
          <td class="dom">{{usern}}</td>
        </tr>
      </p-header>
    </p-card>
  </div>
    <p-card title="Reimbursment"  [style]="{width: '360px'}"
            styleClass="ui-card-shadow" class="ui-g-12 ui-md-3 ">
      <p-header>
        <p-chart type="doughnut" [data]="data"></p-chart>
      </p-header>
      <div>Current Reimbursment Pending: ${{reim}}</div>
    </p-card>
  </div>

<div></div>
