.old-form {
  background-color: orange !important;
  color: black !important;
}

.ui-grid-row .grey{
  background-color: #cccccc;
  background: #cccccc;
}

.very-old-form {
  background-color: red !important;
  color: black !important;
}
.new-form {
  background-color: lawngreen !important;
  color: black !important;
}
.button {

  display: inline-block;
  border-radius: 4px;;
  background-color: black;
  font-family: Arial;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 12px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 15px;
}
