:host {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  margin-bottom: 150px;
}

div.input {

  position: relative;
}
input[type=text]:focus{

  opacity: 0.5;
}
input[type=password]:focus{
  opacity: 0.5;
}
input[type=text]{
  border: none;
  bottom-border: 2px solid white;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  font-size: 16px;
  background-color: lightgoldenrodyellow;
  background-image: url('user2.jpg');
  background-position: 2px 3px;
  background-repeat: no-repeat;
  opacity: 0.65;
  padding: 5px;
  padding-left: 40px;
  border-image: url('../../assets/golden.png');


}
input[type=password]{
  border: none;
  bottom-border: 2px solid white;
  width: 100%;
  box-sizing: border-box;
  border-image: url('../../assets/golden.png');;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  font-size: 16px;
  background-color: lightgoldenrodyellow;
  background-image: url('key.jpg');
  background-position: 2px 2px;
  background-repeat: no-repeat;
  opacity: 0.65;
  padding: 5px;
  padding-left: 40px;


}
input[type=text]:focus{
  border: 3px solid black;
}
input[type=password]:focus{
  border: 3px solid black;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.inside{
  font-size: 15px;
  font-family: "Arial Black";
  color: fuchsia;
}


.button {

  display: block;
  border-radius: 4px;;
  background-color: black;
  font-family: "Arial Black";
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 0;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
}

.button:hover {
  color: gold;
  border: 2px black;
  color: darkmagenta;
  background-repeat: no-repeat;


}

.button:hover {
  opacity: 1;
  right: 0;
}

div.input{

  padding: 10px;
  font-size: 25px;


}
div.input{
  margin-top: 20px;
}
